<section class="contact-us" id="contact-us">
  <div class="container contact-us-container">
    <h2>Contact us</h2>
    <h3>Have questions, story ideas, or feedback?</h3>
    <ul class="main-contacts-list">
      <li class="main-contacts-item">
        <h3>Email:</h3>
        <p class="value-of-contact">info@digitivo.space</p>
      </li>
      <li class="main-contacts-item">
        <h3>Website:</h3>
        <p class="value-of-contact">digitivo.space</p>
      </li>
    </ul>
    <h3>
      Follow us on social media for updates, developer diaries, and
      behind-the-scenes art
    </h3>
    <ul>
      <li>
        <a href=""> </a>
        <use class="social-network-link">
          <svg></svg>
        </use>
      </li>
    </ul>
  </div>
</section>
