<section class="contact-us" id="contact-us">
  <div class="container contact-us-container">
    <picture>
      <source
        srcset="./img/pussles/pussle-desktop.png"
        media="(min-width: 1200px)"
      />
      <img
        src="./img/pussles/pussle-mobile.png"
        alt="pussle img"
        class="pussle contact-us-pussle"
      />
    </picture>
    <h2>Contact us</h2>
    <h3>Have questions, story ideas, or feedback?</h3>
    <ul class="main-contacts-list">
      <li class="main-contacts-item">
        <h3>Email:</h3>
        <a href=""><p class="value-of-contact">info@digitivo.space</p></a>
      </li>
      <li class="main-contacts-item">
        <h3>Website:</h3>
        <a href=""><p class="value-of-contact">digitivo.space</p></a>
      </li>
    </ul>
    <h3>
      Follow us on social media for updates, developer diaries, and
      behind-the-scenes art
    </h3>
    <ul class="social-networks-list">
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <img
            src="./img/contact-us/facebook.png"
            class="social-network-img"
            alt="facebook"
          />
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <img
            src="./img/contact-us/twitter.png"
            class="social-network-img"
            alt="twitter"
          />
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <img
            src="./img/contact-us/instagram.png"
            class="social-network-img"
            alt="instagram"
          />
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <img
            src="./img/contact-us/youtube-footer.png"
            class="social-network-img"
            alt="youtube"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
