<section class="contact-us" id="contact-us">
  <div class="container contact-us-container">
    <h2>Contact us</h2>
    <h3>Have questions, story ideas, or feedback?</h3>
    <ul class="main-contacts-list">
      <li class="main-contacts-item">
        <h3>Email:</h3>
        <a href=""><p class="value-of-contact">info@digitivo.space</p></a>
      </li>
      <li class="main-contacts-item">
        <h3>Website:</h3>
        <a href=""><p class="value-of-contact">digitivo.space</p></a>
      </li>
    </ul>
    <h3>
      Follow us on social media for updates, developer diaries, and
      behind-the-scenes art
    </h3>
    <ul class="social-networks-list">
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-img" width="32" height="32">
            <use href="./img/icons/facebook.svg"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-img" width="32" height="32">
            <use href="./img/icons/twitter.svg"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-img" width="32" height="32">
            <use href="./img/icons/instagram.svg"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-img" width="32" height="32">
            <use href="./img/icons/youtube-footer.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
