<section class="download" id="download">
  <div class="container">
    <div class="download-container">
      <div class="headings">
        <h2 class="download-title">Download</h2>
        <h3 class="download-subtitle">
          Begin your emotional merge journey today.
        </h3>
      </div>

      <button class="button-game">
        <a
          href="https://play.google.com/store/apps/details?id=com.GU.lovematters.coop&hl=en&gl=us"
          class="game-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="30" height="30">
            <use href="./img/icons/sprite.svg#icon-gogle-play"></use>
          </svg>
          <h3>Google Play</h3></a
        >
      </button>

      <h3 class="download-score">Downloads: 10,000+</h3>
      <ul class="download-about">
        <li class="download-info"><p>Updated: July 12, 2025</p></li>
        <li class="download-info"><p>Version: 1.0.3</p></li>
        <li class="download-info"><p>Android 6.0 and up</p></li>
      </ul>
    </div>
  </div>
</section>
