<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <nav class="footer-navigation">
        <ul class="footer-list">
          <li class="footer-ilist-item">
            <a href="" class="footer-list-link"><p>Privacy Policy</p></a>
          </li>
          <li class="footer-ilist-item">
            <a href="" class="footer-list-link"><p>Terms and Conditions</p></a>
          </li>
          <li class="footer-ilist-item">
            <a href="" class="footer-list-link"><p>Cookies Policy</p></a>
          </li>
        </ul>
      </nav>
      <ul class="footer-credits">
        <li class="footer-cresits-item">
          <p>Love Matters™ All rights reserved.</p>
        </li>
        <li class="footer-cresits-item"><p>&copy; 2025 Digitivo Space</p></li>
      </ul>
    </div>
  </div>
</footer>
