<header class="header">
  <div class="container header-container">
    <picture>
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="min-width:768px"
      />
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="max-width: 767px"
      />
      <img
        src="../img/header/game-logo@1x.jpg"
        alt="game logo"
        class="game-logo"
        width="56"
      />
    </picture>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Abot Game</a>
        </li>
        <li>
          <a href="">Features</a>
        </li>
        <li>
          <a href="">How to Play</a>
        </li>
        <li>
          <a href="">Chapters</a>
        </li>
        <li>
          <a href="">Gallery</a>
        </li>
        <li>
          <a href="">Download</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
        <li>
          <a href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button">
      <svg class="icon-burger" width="56" height="56">
        <use href="../img/icons/menu-burger.svg"></use>
      </svg>
    </button>
  </div>
</header>
