<header class="header" id="header">
  <div class="container container-not-header">
    <div class="header-container">
      <picture>
        <source
          srcset="
            ./img/header/game-logo@1x.jpg 1x,
            ./img/header/game-logo@2x.jpg 2x
          "
          media="min-width:768px"
        />
        <source
          srcset="
            ./img/header/game-logo@1x.jpg 1x,
            ./img/header/game-logo@2x.jpg 2x
          "
          media="max-width: 767px"
        />
        <img
          src="./img/header/game-logo@1x.jpg"
          alt="game logo"
          class="game-logo"
        />
      </picture>
      <h2 class="header-heading-mobile">Love Matters</h2>
      <nav class="navigation-site">
        <ul class="list-navigation">
          <li class="item-navigation">
            <a data-id="hero" class="link-navigation"><p>Home</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="about" class="link-navigation"><p>About Game</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="key-features" class="link-navigation"
              ><p>Features</p></a
            >
          </li>
          <li class="item-navigation">
            <a data-id="how-to-play" class="link-navigation"
              ><p>How to Play</p></a
            >
          </li>
          <li class="item-navigation">
            <a data-id="chapters" class="link-navigation"><p>Chapters</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="gallery" class="link-navigation"><p>Gallery</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="download" class="link-navigation"><p>Download</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="questions" class="link-navigation"><p>FAQ</p></a>
          </li>
          <li class="item-navigation">
            <a data-id="contact-us" class="link-navigation"><p>Contacts</p></a>
          </li>
        </ul>
      </nav>
      <button class="burger-button">
        <img src="./img/header/burger-menu.png" alt="burger button" /></button
      ><button class="exit-button js-invisible">
        <img src="./img/header/return.png" alt="return button" />
      </button>
    </div>
  </div>
  <div class="menu js-hidden">
    <nav class="menu-navigation-site">
      <ul class="menu-list-navigation">
        <li class="menu-item-navigation">
          <a data-id="hero" class="link-navigation">Home</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="about" class="link-navigation">About Game</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="key-features" class="link-navigation">Features</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="how-to-play" class="link-navigation">How to Play</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="chapters" class="link-navigation">Chapters</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="gallery" class="link-navigation">Gallery</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="download" class="link-navigation">Download</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="questions" class="link-navigation">FAQ</a>
        </li>
        <li class="menu-item-navigation">
          <a data-id="contact-us" class="link-navigation">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
