<header class="header">
  <div class="container header-container">
    <picture>
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="min-width:768px"
      />
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="max-width: 767px"
      />
      <img
        src="../img/header/game-logo@1x.jpg"
        alt="lloyd Jefferson"
        class="footer-picture"
        width="56"
      />
    </picture>
  </div>
</header>
