<section class="hero" id="hero">
  <div class="container">
    <h1>Welcome to Love Matters</h1>
    <h3>Merge Stories. Uncover Emotions. Rewrite Destiny.</h3>
    <p>
      Dive into an emotional puzzle adventure where every merge uncovers secrets
      of love, heartbreak, and healing. Follow characters through beautiful
      chapters as they rebuild their lives—one item at a time.
    </p>
    <button>
      <a
        href="https://play.google.com/store/apps/details?id=com.GU.lovematters.coop&pcampaignid=web_share"
        target="_blank"
      >
        <svg class="google-play-icon" width="28" height="28">
          <use href="../img/icons/gogle-play.svg"></use>
        </svg>
        Play now on Google Play
      </a>
    </button>
    <button>
      <a href="https://www.youtube.com/watch?v=d_04BrGf2_w" target="_blank">
        <svg class="google-play-icon" width="28" height="28">
          <use href="../img/icons/youtube-2.svg"></use>
        </svg>
        Watch GameTrailer
      </a>
    </button>
  </div>
</section>
