<section class="hero" id="hero">
  <div class="container hero-container">
    <picture>
      <source
        srcset="../img/icons/pussle-desktop.svg"
        media="(min-width: 1200px)"
      />
      <img
        src="../img/icons/pussle-mobile.svg"
        alt="pussle img"
        class="hero-pussle hero-pussle-top"
      />
    </picture>
    <h1 class="heading-f">Welcome to Love Matters</h1>
    <h3>Merge Stories. Uncover Emotions. Rewrite Destiny.</h3>
    <p class="hero-info">
      Dive into an emotional puzzle adventure where every merge uncovers secrets
      of love, heartbreak, and healing. Follow characters through beautiful
      chapters as they rebuild their lives—one item at a time.
    </p>
    <div class="buttons-container">
      <button class="button-hero">
        <a
          class="button-hero-link"
          href="https://play.google.com/store/apps/details?id=com.GU.lovematters.coop&pcampaignid=web_share"
          target="_blank"
        >
          <svg class="google-play-icon" width="28" height="28">
            <use href="../img/icons/gogle-play.svg"></use>
          </svg>
          Play now on Google Play
        </a>
      </button>
      <button class="button-hero">
        <a
          href="https://www.youtube.com/watch?v=d_04BrGf2_w"
          target="_blank"
          class="button-hero-link"
        >
          <svg class="google-play-icon" width="32" height="32">
            <use href="../img/icons/youtube-classic.svg"></use>
          </svg>
          Watch GameTrailer
        </a>
      </button>
    </div>
    <picture>
      <source
        srcset="../img/icons/pussle-desktop.svg"
        media="(min-width: 1200px)"
      />
      <img
        src="../img/icons/pussle-mobile.svg"
        alt="pussle img"
        class="hero-pussle hero-pussle-bottom"
      />
    </picture>
  </div>
</section>
