<section class="key-features" id="key-features">
  <div class="container">
    <h2 class="key-features-title">Features</h2>

    <div class="key-features-content">
      <picture>
        <source srcset="
            ../src/img/features-mobile@1x 1x,
            ../src/img/features-mobile@2x 2x
          " media="(max-width: 767px)" />
        <source srcset="
            ../src/img/features1280@1x 1x,
            ../src/img/features1280@2x 2x
          " media="(min-width: 1280px) and (max-width: 1439px)" />
        <source srcset="
            ../src/img/features1440@1x 1x,
            ../src/img/features1440@2x 2x
          " media="(min-width: 1440px)" />
        <img width="332" class="key-features-photo" src="../src/img/features-desk1280@1x.jpg" alt="features" />
      </picture>

    </div>


    <ul class="key-features-list">
      <li class="key-features-item">
        <p class="key-features-paragraph">
          Narrative Merge Gameplay: Solve merge puzzles to unlock story content
          and choices
        </p>
        <svg class="icon" width="24" height="24">
          <use href="/src/img/icons/puzzle.svg#puzzle"></use>
        </svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Emotional Storylines: Dive into dramatic love stories filled with
          twists, secrets, and resolutions.
        </p>
        <svg></svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Rebuild and Restore: Help characters renovate homes, cafes, gardens,
          and more by completing merge tasks.
        </p>
        <svg></svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Hand-Painted Visuals: Stunning art and soft pastel aesthetics that
          evoke warmth and nostalgia.
        </p>
        <svg></svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Original Soundtrack: Gentle piano melodies and emotional cues bring
          the story to life.
        </p>
        <svg></svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Progressive Chapters: Unlock new story arcs as you merge items and
          advance.
        </p>
        <svg></svg>
      </li>

      <li class="key-features-item">
        <p class="key-features-paragraph">
          Frequent Updates: New love stories and merge maps are added regularly.
        </p>
        <svg></svg>
      </li>
    </ul>
  </div>
</section>