<div class="js-popup js-popup-hidden">
  <div class="container">
    <h2>Cookies Policy</h2>
    <p>
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="popup-buttons-container">
      <button class="cookies-button js-accept-button">
        <h3>accept cookies</h3>
      </button>
      <button class="cookies-button js-decline-button">
        <h3>decline cookies</h3>
      </button>
    </div>
  </div>
</div>
