<section class="questions" id="questions">
  <div class="container">
    <picture>
      <source
        srcset="./img/icons/pussle-desktop.svg"
        media="(min-width: 1200px)"
      />
      <img
        src="./img/icons/pussle-mobile.svg"
        alt="pussle img"
        class="pussle questions-pussle-top"
      />
    </picture>
    <h2 class="questions-heading">Frequently Asked Questions</h2>
    <ul class="accordion-container accordion-questions-list">
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Is Love Matters free to play?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Yes! Love Matters is free to download and play. It includes optional
            in-app purchases for boosters and cosmetics, but the full story can
            be enjoyed without spending.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">What’s the main goal of the game?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            You solve merge puzzles to help characters restore their lives and
            discover the next part of their love story. The game balances
            merging tasks with emotionally driven plotlines.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Can I play offline?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Yes. The core gameplay and story progression work offline. Internet
            is only needed for ad rewards and syncing across devices.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">
            What makes this game different from other merge games?
          </h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Love Matters blends merge mechanics with an emotional narrative
            structure. Every item merged connects directly to the story—it’s a
            heartfelt puzzle adventure, not just a logic game.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Will new stories be added?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Yes! New character arcs and bonus chapters will be added regularly.
            Expect diverse storylines, from romantic comedies to second chances
            and self-love tales.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Are choices in the story important?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Yes, some chapters include interactive choices. These decisions can
            slightly influence the path of a character’s emotional growth and
            relationships
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Is it suitable for kids?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Love Matters is designed for a teen and adult audience due to its
            themes (breakups, romance, healing), but it contains no explicit
            content.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">How do I report issues or give feedback?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="./img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="./img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Please email us at info@digitivo.space — we love hearing from
            players and are constantly improving the game based on your
            suggestions.
          </p>
          <picture>
            <source
              srcset="./img/icons/paint-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/paint-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="paint"
              src="./img/icons/paint-desktop.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg> -->
          <picture>
            <source
              srcset="./img/icons/color-brush-mobile.svg"
              media="(max-width: 1200px)"
            />
            <source
              srcset="./img/icons/color-brush-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img
              class="brush"
              src="./img/icons/color-brush-mobile.svg"
              alt="about"
            />
          </picture>
          <!-- <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg> -->
        </div>
      </li>
    </ul>
  </div>
</section>
