<section class="questions" id="questions">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
    <ul class="accordion-container">
      <li class="ac">
        <button class="ac-trigger">
          <h3 class="ac-header">Is Love Matters free to play?</h3>
          <svg class="ac-icon-open">
            <use href="../img/icons/down-bold.svg"></use>
          </svg>
          <svg class="ac-icon-close">
            <use href="../img/icons/up-bold.svg"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! Love Matters is free to download and play. It includes optional
            in-app purchases for boosters and cosmetics, but the full story can
            be enjoyed without spending.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
