<section class="questions" id="questions">
  <div class="container">
    <h2 class="questions-heading">Frequently Asked Questions</h2>
    <ul class="accordion-container accordion-questions-list">
      <li class="ac ac-question-item">
        <button class="ac-trigger">
          <h3 class="ac-header">Is Love Matters free to play?</h3>
          <div class="ac-icon-box">
            <svg class="ac-icon-open" width="40" height="40">
              <use href="../img/icons/down-bold.svg"></use>
            </svg>
            <svg class="ac-icon-close" width="40" height="40">
              <use href="../img/icons/up-bold.svg"></use>
            </svg>
          </div>
        </button>
        <div class="ac-panel ac-answer-text">
          <p class="ac-text-answer">
            Yes! Love Matters is free to download and play. It includes optional
            in-app purchases for boosters and cosmetics, but the full story can
            be enjoyed without spending.
          </p>
          <svg class="paint">
            <use href="./img/icons/paint-desktop.svg"></use>
          </svg>
          <svg class="brush" width="80" height="80">
            <use href="./img/icons/color-brush.svg"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
