.chapters-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
}

.chapters-pussle {
  top: 25px;
  right: 25px;
  transform: rotate(70deg);
}

.chapters-title {
  margin: 0 auto;
}

.chapters-subtitle {
  text-align: center;
}

.chapters-title-2 {
  margin: 0 auto;
  text-align: center;
}

.chapters-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chapters-item {
  display: flex;
  align-items: center;
  gap: 16px;

}

.chapters-item picture {
  flex-shrink: 0;
  border-radius: 8px;
  width: 76px;
}

.chapters-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.chapters-end {
  text-align: center;

  color: var(--text-color);
}

@media (min-width: 1200px) {
  .chapters-container {
    gap: 16px;
  }
  .chapters-pussle {
    top: 0;
    right: 0;
  }
  .chapters-subtitle {
    width: 700px;
  }

  .chapters-list {
    gap: 16px;
    justify-content: center;
  }

  .chapters-item {
    align-items: center;
    gap: 12px;
  }
}
