/* mobile */
.container {
  position: relative;
  min-width: 320px;
  max-width: 375px;
  padding: 29px 20px;
  margin: 0 auto;
}

/* desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1040px;
    padding: 48px 50px;
  }
}
