/* mobile */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1040px;
    padding: 0 50px;
  }
}

/* desktop 2 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 50px;
  }
}
