.contact-us-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.contact-us-pussle {
  right: 20px;
  top: 25px;
  transform: rotate(-20deg);
}
.main-contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main-contacts-item {
  display: flex;
  align-items: center;
}
.value-of-contact {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.social-networks-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact-us-container {
    gap: 24px;
  }
  .contact-us-pussle {
    right: 60px;
    top: -40px;
    transform: rotate(60deg);
  }
  .main-contacts-list {
    flex-direction: row;
    gap: 100px;
  }
  .social-networks-list {
    gap: 64px;
  }
}
