.footer {
  margin-top: 29px;
  background-color: #ffd9fa;
  border-radius: 8px 8px 0 0;
}
.footer-container {
  padding-bottom: 0;
  padding-top: 0;
}
.footer-wrapper {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.footer-credits {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 48px;
    border-radius: 16px 16px 0 0;
  }
  .footer-wrapper {
    gap: 16px;
    padding: 16px 0;
  }
  .footer-list {
    flex-direction: row;
    gap: 120px;
  }

  .footer-credits {
    flex-direction: row;
    gap: 50px;
  }
}
