.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(#fa8fe3, #ffd9fa, #8e5fcf);
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger-button {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1200px) {
  .burger-button {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
  }
  .header-container {
    justify-content: space-around;
  }
}

.game-logo {
  border-radius: 12px;
}
