.header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 29px;
  background: linear-gradient(#fa8fe3, #ffd9fa, #8e5fcf);
  border-radius: 0 0 8px 8px;
}
.container-not-header {
  padding-top: 0;
  padding-bottom: 0;
}
.game-logo {
  max-width: 56px;
}

.header-container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-logo {
  border-radius: 12px;
}

.burger-button {
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

.list-navigation {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.js-invisible {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.js-hidden {
  transform: translateX(100%);
}

.menu {
  position: fixed;
  top: 104px;
  height: 100%;
  width: 100%;
  background: #fff7f0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  transition: all 0.3s ease;
}

.menu-list-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu-item-navigation {
  font-size: 20px;
  font-family: 'Spicy Rice', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 50px;
}

.menu-item-navigation:hover {
  cursor: pointer;
}
.exit-button {
  background-color: transparent;
  border: none;
  width: auto;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 48px;
  }
  .header-container {
    border-radius: 0 0 16px 16px;
  }
  .header-heading-mobile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }
  .game-logo {
    max-width: 64px;
  }

  .burger-button {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }
  .header-container {
    gap: 75px;
  }
  .list-navigation {
    opacity: 1;
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Spicy Rice', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 50px;
  }

  .item-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 250px) / 6);
    text-align: center;
    transition: all 0.3s ease;
  }
  .item-navigation:hover {
    cursor: pointer;
  }
  .item-navigation:active,
  .item-navigation:focus {
    border: 1px solid #24274b;
    border-radius: 8px;
    box-shadow: 0px 4px 0.35em #00000059;
  }
}
