.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(#fa8fe3, #ffd9fa, #8e5fcf);
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-logo {
  border-radius: 12px;
}
