.questions-heading {
  text-align: center;
  margin-bottom: 32px;
}
.ac.ac-question-item {
  background-color: transparent;
  border: none;
}
.accordion-container .ac .ac-trigger {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.accordion-container .ac.is-active > .ac-header .ac-icon-open {
  width: 15px;
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
}

.ac-trigger .ac-icon-close {
  display: none;
}

.accordion-container .ac.is-active > .ac-trigger .ac-icon-close {
  display: block;
}

.accordion-container .ac.is-active > .ac-trigger .ac-icon-open {
  display: none;
}

.accordion-container .ac .ac-trigger::after {
  display: none;
  content: '';
}
.accordion-container .ac.is-active > .ac-trigger .ac-icon-close {
  display: block;
}

.ac-header {
  color: #24274b;
  text-align: center;
}

.ac.ac-question-item .ac-panel.ac-answer-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paint,
.brush {
  position: absolute;
}
.ac-text-answer {
  width: 65%;
  padding: 20px 0;
}
.paint {
  z-index: -1;
  left: 35px;
  top: 0;
  position: absolute;
  width: 270px;
}

.brush {
  right: 20px;
  top: 50px;
}

@media screen and (min-width: 1200px) {
  .accordion-container .ac .ac-trigger {
    gap: 25px;
  }
  .ac-text-answer {
    width: 750px;
    padding: 50px 0;
  }
  .paint {
    width: 800px;
    left: 75px;
    z-index: -1;
    top: 35px;
  }

  .brush {
    top: 45px;
    right: 50px;
  }
}
